#DryCondition{
  z-index: 1001;
  background-color: white;
  position: absolute;
  main{
    padding: 20px;
    white-space: nowrap;
    span{
      font-size: 16px;
      padding-right: 15px;
    }
  }
}

figure{
    width: 790px;
    height: 672px;
}