li {
  float: left;
  text-align: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  i{
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  &.measure{
    i { background: url(~Img/toolbar_tool.png)no-repeat -128px 0/1200% 200%; }
    &.on{ i{ background-position-y:  -32px; } }
  }
  &.clears {
      i { background: url(~Img/toolbar_tool.png)no-repeat 0 0/1200% 200%; }
      &:active{ i{ background-position-y: -32px; } }
  }
}