#CityShortForecast {
    z-index: 1001;
    background-color: white;
    position: absolute;
    left: 340px;
    white-space: nowrap;
    top: 120px;
    main {
        padding: 20px;
        white-space: nowrap;
        span {
            font-size: 16px;
            padding-right: 15px;
        }
    }
}

aside.html-wrapper {
    width: 630px;
    height: 580px;
    box-sizing: border-box;
    border: solid 1px #d1d4db;
    overflow: auto;
    display: inline-block;
    text-align: center;
    padding: 30px;
    h1,
    h2,
    h3 {
        color: #ff0000;
        line-height: 40px;
    }
    p{
        font-size: 15px;
    }
}