#ShortRadar {
    position: absolute;
    width: 440px;
    z-index: 1200;
    left: 330px;
    top: 130px;
    padding-bottom: 20px;
    background-color: #fff;
    .nowActual_con {
        .nowActual_con_top {
            height: 260px;
            .nowActual_con_topleft {
                position: relative;
                width: 30px;
                writing-mode: vertical-rl;
                -ms-writing-mode: lr-tb;
                height: 260px;
                letter-spacing: 7px;
                p {
                    position: absolute;
                    top: 80px;
                    left: 5px;
                    font-size: 14px;
                }
            }
            .nowActual_con_topright {
                ul.radar_products {
                    margin-top: 10px;
                    li.iconProductO {
                        margin: 8px 0;
                        i {
                            background: url(~Img/home_chb.png)no-repeat 0 0/300% 100%;
                        }
                        &.on {
                            i {
                                background: url(~Img/home_chb.png)no-repeat -36px 0/300% 100%;
                            }
                        }
                    }
                }
            }
        }
        .nowActual_con_bottom {
            .nowActual_con_bottomleft {
                height: 230px;
                span:nth-child(1) {
                    position: absolute;
                    top: 63px;
                    left: 6px;
                    display: inline-block;
                    writing-mode: vertical-lr;
                    -ms-writing-mode: tb-rl;
                    letter-spacing: 3px;
                    font-size: 14px;
                }
                span:nth-child(2) {
                    position: absolute;
                    top: 135px;
                    left: 6px;
                    writing-mode: vertical-rl;
                    -ms-writing-mode: lr-tb;
                    letter-spacing: 3px;
                    font-size: 14px;
                }
            }
            .nowActual_con_bottomright {
                ul.qpef_products {
                    margin-top: 10px;
                    li.iconProductT {
                        margin: 8px 0;
                        i {
                            width: 20px;
                            height: 20px;
                            background: url(~Img/home_radio.png)no-repeat 0 0/200% 100%;
                        }
                        &.on {
                            i {
                                background: url(~Img/home_radio.png)no-repeat -20px 0/200% 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .el-date-editor.el-input {
        width: 130px !important;
    }
    .date {
        margin-top: 15px;
        line-height: 36px;
        .hour-min {
            width: 50px;
            height: 30px;
            padding-left: 10px;
            background: #f0f1f4;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }
    }
    .datetime{
        margin-top: -10px!important;
    }
    .short_radar{
        margin: 10px 30px;
        .short_radar_title{
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #1c1c1c;
            margin-top: 10px;
        }
    }
    .select-toggle{
        width:55px!important;
        border-radius: 5px;
        top:10px;
    }
}