<main id="CreatearticlePopup" class="popup_content">
    <div class="create_con">
        <p class="popup_title"><span class="popup_titleIn">需求分析报告-生成文档</span><i class="create_icon_hide hide_btn"></i><i class="create_icon_close close_btn"></i></p>
        <div class="create_left popup_aricle">
            <div class="create_conIn popup_aricleIn"></div>
            <span class="page_number popup_pageNumber">页面4/20</span>
        </div>
        <div class="create_right">
            <ul>
                <li class="create_downLoad"><i></i></li>
                <li class="create_update"><i></i></li>
                <li class="create_editor"><i></i></li>
            </ul>
        </div>
        
    </div>
    
  
</main>