<main id="PhoneLiveMonitor"
      class="weather-product-window"
      v-drag=''>
  <header>
    <span>手机直播监测</span>
    <aside>
      <button class="close"
              v-on:click="toggleProductView_global({id: productId, action: false})"></button>
    </aside>
  </header>
  <section class="airspace_con">
    <div class="airspace_head">
      <span>开启直播检测</span>
      <i :class="['switch_btn',{'on':isShowPhoneLiveLayer_global}]"
         @click="toggleSwitch"></i>
    </div>
  </section>
</main>