#OperateDemandSurveyHistory {
  position: absolute;
  width: 1314px;
  height: 740px;
  z-index: 1001;
  top: 130px;
  left: 330px;
  box-shadow: 0px 0px 10px #eee;
  background-color: #fff;
  overflow: hidden;
}
