#AirspaceMonitoring{
  top: 130px;
  left: 324px;
  z-index: 1000;
  width: 480px;
  background-color: #fff;
  padding-bottom: 15px;
  .airspace_con{
    padding: 20px;
    font-size: 14px;
    .airspace_head{
      position: relative;
      margin-bottom: 10px;
      span,i{
        display: inline-block;
      }
      span{
        height: 30px;
        line-height: 30px;
        margin-right: 30px;
      }
      i.switch_btn{
        position: absolute;
        top: 3px;
        width: 40px;
        height: 24px;
        background: url(~Img/home_switch.png)no-repeat -40px 0/200% 100%;
        cursor: pointer;
        &.on{
         background-position-x: 0px;
        }
      }
    }
    .airspace_content{
     border: 1px solid #E2E3E8;
    }
  }
  ul.head_list{
    width: 100%;
    height: 45px;
    background-color: #F0F1F4;
    li{
      float: left;
      width: calc(100%/4);
      height: 40px;
      line-height: 40px;
      text-align: center;
      
    }
  }
  ul.person_list{
    width: 100%;
    max-height:600px;
    overflow: auto;
    li.person_list_list{
      width: 100%;
      height: 40px;
      &:hover{
        background-color: #F0F1F4;
      }
      span{
        float: left;
        display: inline-block;
        width: calc(100%/4);
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;  
        
      }
      &.on{
        background-color: #F0F1F4;
        
      } 
    }
    
    .icon{
      float: left;
      position: relative;
      i{
        position: absolute;
        top: 6px;
        display: inline-block;
        width: 28px;
        height: 28px;
        cursor: pointer;
        
        &.editor{
          left: 32px;
          background: url(~Img/home_link.png)no-repeat 0 0 /200% 300%;
          &:hover{
            background-position-x: -28px;
          }
        }
        
        &.delete{
          left: 54px;
          margin-left: 10px;
          background: url(~Img/home_link.png)no-repeat 0 -56px /200% 300%;
          &:hover{
            background-position: -28px -56px;
          }
        }
      }
    }
    .verification{
      &.on{
        color: #eb414f;
      }
    }
  }
  button.add_btn{
    position: absolute;
    right: 0px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 100px;
    color: #fff;
    background-color: #4787E1;
    text-align: center;
    &:hover{
      background-color: #3679D6;
    }
  }
  .popup {
    position: absolute!important;
    top: 50px;
    left: 80px;
    width: 320px;
    background-color: #fff;
    box-shadow: rgba(31, 43, 61, .4) 0 0 7px 1px;
    .editor_msg{
      margin: 20px 0;
    }
    dl{
      margin:5px 0 0 30px;
      font-size: 14px;
      height: 50px;
      line-height: 50px;
      dt{
        float: left;
        color: #575757;
        width: 80px;
      }
      dd{
  
        float: left;
        color: #1c1c1c;
        &.name,&.tel{
          input{
            margin-top: 10px;
            padding: 0 15px;
            height: 28px;
            line-height: 28px;
            width: 138px;
            border: 1px solid #D8DAE0;
          }
          
        }
        &.department,&.worker,&.group,&.area{
          select{
            width: 220px;
          }
        }
      }
    }
    .eitor_btn{
      margin: 15px 0 15px 110px;
      button{
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        width: 100px;
        margin: 0 auto;
        &.eitor_btn_one{
          color: #fff;
          background-color: #3E7CD7;
          text-align: center;
        }
      }
    }
  }
}