<main id="HistoryarticlePopup" 
      class="weather-product-window" 
      v-drag=""
      :style="{width: minify ? '330px' : '1100px', height: minify ? '40px' : '740px'}">
  <header>
    <span>需求分析报告-历史文档</span>
    <aside>
      <button class="mini"
              v-on:click="minify = !minify"
              :style="{backgroundPositionX: minify ? '-44px' : '0'}"></button>
      <button class="close"
              v-on:click="toggleProductView_global({id: productId, action: false})"></button>
    </aside>
  </header>
    
    <div class="popup_con">
        <div class="history_left">
            <div class="history_article cf">
              <ul>
                <li class="history_article_list">
                  <div class="history_article_left">
                    <div class="history_article_leftIn">
                        <p class="history_article_day">15年</p>
                        <p class="history_article_month">6月</p>
                    </div>
                  </div>
                  <div class="history_article_right">
                    <p class="history_article_title">抗旱作业需求分析参考产品</p>
                    <p class="history_article_introduction ">预报2015年第09期</p>
                  </div>
                </li>
                <li class="history_article_list">
                    <div class="history_article_left">
                      <div class="history_article_leftIn">
                          <p class="history_article_day">15年</p>
                          <p class="history_article_month">6月</p>
                      </div>
                    </div>
                    <div class="history_article_right">
                      <p class="history_article_title">抗旱作业需求分析参考产品</p>
                      <p class="history_article_introduction ">预报2015年第09期</p>
                      <p class="history_article_date">XX省XX市XX县</p>
                    </div>
                  </li>
                  <li class="history_article_list">
                      <div class="history_article_left">
                        <div class="history_article_leftIn">
                            <p class="history_article_day">15年</p>
                            <p class="history_article_month">6月</p>
                        </div>
                      </div>
                      <div class="history_article_right">
                        <p class="history_article_title">抗旱作业需求分析参考产品</p>
                        <p class="history_article_introduction ">预报2015年第09期</p>
                        <p class="history_article_date">XX省XX市XX县</p>
                      </div>
                    </li>
                    <li class="history_article_list">
                        <div class="history_article_left">
                          <div class="history_article_leftIn">
                              <p class="history_article_day">15年</p>
                              <p class="history_article_month">6月</p>
                          </div>
                        </div>
                        <div class="history_article_right">
                          <p class="history_article_title">抗旱作业需求分析参考产品</p>
                          <p class="history_article_introduction ">预报2015年第09期</p>
                          <p class="history_article_date">XX省XX市XX县</p>
                        </div>
                      </li>
                      <li class="history_article_list">
                          <div class="history_article_left">
                            <div class="history_article_leftIn">
                                <p class="history_article_day">15年</p>
                                <p class="history_article_month">6月</p>
                            </div>
                          </div>
                          <div class="history_article_right">
                            <p class="history_article_title">抗旱作业需求分析参考产品</p>
                            <p class="history_article_introduction ">预报2015年第09期</p>
                            <p class="history_article_date">XX省XX市XX县</p>
                          </div>
                        </li>
                        <li class="history_article_list">
                            <div class="history_article_left">
                              <div class="history_article_leftIn">
                                  <p class="history_article_day">15年</p>
                                  <p class="history_article_month">6月</p>
                              </div>
                            </div>
                            <div class="history_article_right">
                              <p class="history_article_title">抗旱作业需求分析参考产品</p>
                              <p class="history_article_introduction ">预报2015年第09期</p>
                              <p class="history_article_date">XX省XX市XX县</p>
                            </div>
                          </li>
                          <li class="history_article_list">
                              <div class="history_article_left">
                                <div class="history_article_leftIn">
                                    <p class="history_article_day">15年</p>
                                    <p class="history_article_month">6月</p>
                                </div>
                              </div>
                              <div class="history_article_right">
                                <p class="history_article_title">抗旱作业需求分析参考产品</p>
                                <p class="history_article_introduction ">预报2015年第09期</p>
                                <p class="history_article_date">XX省XX市XX县</p>
                              </div>
                            </li>
              </ul>
            </div>
        </div>
        <!-- <div class="history_center">
          <i></i>
        </div> -->
        <div class="history_right">
          <div class="popup_aricle">
              <div class="history_conIn popup_aricleIn"></div>
          </div>
        </div>
    </div>
</main>