<main id="BusinessClass">
  <ul class="top_title">
    <li>名称</li>
    <li>外部链接</li>
    <li>操作</li>
  </ul>
  <ul class="products_List cf">
    <li v-for="(item, key) in currentPageList">
      <span :class="['list_title',{'on':!item.default}]">{{item.name}}</span>
      <span class="list_url">{{item.url || '---'}}</span>
      <span class="list_editor">
        <i :class="['editor_icon', {'undefault': !item.default}]" @click="modify(item)"></i>
        <i class="delete_icon" 
           v-if="!item.default"
           @click="deleteProduct(item)"></i>
      </span>
    </li>
  </ul> 
  <div class="product_page">
    <el-pagination
      small
      layout="prev, pager, next"
      :total="productLi.length"
      @current-change="currentChange"
      :page-size="pageSize">
    </el-pagination>
  </div>

  <div v-drag='' 
      class="modify_product weather-product-window" v-if="isPopupOn">
    <header>
    <span>{{modifyInfo.name}}-修改</span>
    <aside>
      <button class="close" @click="isPopupOn = false"></button>
    </aside>
    </header>
    <section>
    <aside class="revise_left">
      <img src="static/img/product/66.png">
    </aside>
    <article class="revise_right">
      <dl class="cf revise_name">
        <dt>名称</dt>
        <dd>
          <input type="text" 
                v-if="isInputShow" 
                v-model="name">
          <span v-if="!isInputShow" 
                @click="isInputShow = !isInputShow">{{name}}</span>
        </dd>
        <i @click="isInputShow = !isInputShow"
          :style="{backgroundPositionX: !isInputShow ? '0' : '-30px'}"></i>
      </dl>
      <dl class="cf revise_url">
        <dt>外部链接</dt>
        <dd>
          <input type="text" 
                v-model="url" 
                v-if="isUrlShow">
          <span v-if="!isUrlShow" 
                @click="isUrlShow = !isUrlShow">{{url}}</span>
        </dd>
        <i @click="isUrlShow = !isUrlShow"
            :style="{backgroundPositionX: !isUrlShow ? '0' : '-30px'}"></i>
      </dl>
    </article>
    <section class="cf revise_button">
        <button @click="modifyMenu">保存</button>
    </section>
    </section>
  </div>
</main>