#GroundTarget{
  position: absolute;
  top: 130px;
  left: 324px;
  z-index: 1000;
  width: 325px;
  background-color: #fff;
  padding-bottom: 20px;
  .ground_target_content{
    margin-top: 20px;
    dl{
      margin-left: 30px;
      margin-bottom: 15px;
      font-size: 14px;
      color: #575757;
      dt{
        float: left;
        width: 70px;
        height: 30px;
        line-height: 30px;


      }
      dd{
        position: relative;
        float: left;
        input{
          float: left;
          height: 28px;
          line-height: 28px;
          width: 124px;
          padding: 0 15px;
          border: 1px solid #D8DAE0;
        }
        i{
          float: left;
          position: absolute;
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-left: 15px;
          background: url(~Img/home_link.png)no-repeat 0 0/200% 300%;
          &:hover{
            background-position-x: -30px;
          }
          &.on{
            background-position-x: -30px;
          }
        }
        span{
          float: left;
          display: inline-block;
          width: 124px;
          padding: 0 15px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
  }
  button.confirm{
    color: #fff;
    background-color: #4787E1;
    margin-left: 102.5px;
    margin-top: 15px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    &:hover{
      background-color: #3679D6;
    }
  }
}