<main id="SunflowerInfrared"
      class="popup_content">
  <div class="sunflower_title">
    <p class="popup_title">
      <span class="popup_titleIn">葵花 8 红外灰度图</span>
      <i class="sunflower_icon_hide hide_btn"></i>
      <i class="sunflower_icon_close close_btn"></i>
    </p>
  </div>
  <div class="popup_con">
    <div class="popup_con_left"></div>
    <div class="popup_con_right">
      <ul>
        <li class="cf">
          <dl>
            <dt>葵花8</dt>
            <dd>
              <div class="infrared_img">
                <span>红外灰度图</span>
                <i></i>
              </div>
            </dd>
          </dl>
        </li>
        <li class="cf">
          <dl>
            <dt>选择时间</dt>
            <dd>
              <div class="time_selected">
                <span>1</span>
                <i></i>
              </div>
              <span class="time_unit">帧/每秒</span>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</main>