<main id="DownloadImg"
      v-drag="" 
      class="weather-product-window">
  <header>
  <span>批量下载业务图</span>
  <aside>
    <button class="close" @click="closeFn"></button>
  </aside>
  </header>
  <section class="forecast_product cf">
    <p class="forecast_product_title ">
      <span class="forecast_product_titleIn ">预报产品</span>
      <el-date-picker
        v-model="forecastDate"
        type="daterange"
        :clearable="false"
        range-separator=" - "
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
    </p>
    <ul class="forecast_product_ul scrollbar">
      <li :class="['forecast_product_con',{'on': el.productSelected}]" v-for="el of products" @click="toggleProduct(el)">
        <p class="actually_product_title">{{ el.name }}
          <span class="actually_product_modify" @click.stop="toggleModify(el)">修改</span>
        </p>
        <dl class="cf">
          <dt>日期</dt>
          <dd>
            {{ moment(el.startDate).format('YYYY-MM-DD') + ' ' + el.startHour }}
            {{ el.startMinute ? ': ' + el.startMinute : '时' }} - 
            {{ moment(el.endDate).format('YYYY-MM-DD') + ' ' + el.endHour }}
            {{ el.endMinute ? ': ' + el.endMinute : '时' }}
          </dd>
        </dl>
        <dl class="cf" v-if="'areas' in el">
          <dt>范围</dt>
          <dd>{{ scopeList[el.areasSelected] }}</dd>
        </dl>
        <dl class="cf" v-if="'forecasts' in el">
          <dt>时效</dt>
          <dd>{{ el.startForecast + ' - ' + el.endForecast }}</dd>
        </dl>
      </li>
    </ul>
  </section>
  <button class="download" @click="downloadServiceGraph">批量下载</button>

  <div class="downloadImg_modify" 
       v-drag=""
       v-if="modifyPop"
       :style="{width: 'minutes' in modifyInfo ? '500px' : '400px'}" >
    <header>
      <span>{{ modifyInfo.name }}修改</span>
      <aside>
        <button class="close" @click="modifyPop = false;"></button>
      </aside>
    </header>
    <section class="date-time-forsee-wrapper">
        <ul class="date-time-forsee-ul">
            <li>
                <aside class="left-label-wrapper">起始日期</aside>
                <aside class="right-btn-wrapper" style="width:153px;">
                    <el-date-picker v-model="modifyInfo.startDate"
                                    type="date"
                                    :clearable="false"
                                    placeholder="选择日期">
                    </el-date-picker>
                </aside>
                <select-toggle :optionData="modifyInfo.hours" :preSelectedOption="modifyInfo.startHour"
                                :selectionChange="startHourChange" :width="80" style="float:left"></select-toggle>
                <select-toggle :optionData="modifyInfo.minutes" :preSelectedOption="modifyInfo.startMinute" v-if="'minutes' in modifyInfo"
                                :selectionChange="startMinuteChange" :width="80" style="float:left;margin-left:3px!important;"></select-toggle>                
            </li>
            <li>
                <aside class="left-label-wrapper">终止日期</aside>
                <aside class="right-btn-wrapper" style="width:153px;">
                    <el-date-picker v-model="modifyInfo.endDate"
                                    type="date"
                                    :clearable="false"
                                    placeholder="选择日期">
                    </el-date-picker>
                </aside>
                <select-toggle :optionData="modifyInfo.hours"  :preSelectedOption="modifyInfo.endHour"
                                :selectionChange="endHourChange" :width="80" style="float:left"></select-toggle>
                <select-toggle :optionData="modifyInfo.minutes" :preSelectedOption="modifyInfo.endMinute" v-if="'minutes' in modifyInfo"
                                :selectionChange="endMinuteChange" :width="80" style="float:left;margin-left:3px!important;"></select-toggle>  
            </li>
            <li :style="{height: modifyLiHeight}">
              <aside class="left-label-wrapper">要素选择</aside>
              <!-- <aside class="right-btn-wrapper" v-if="'areas' in modifyInfo || modifyInfo.key === 'cpe'"> -->
                <aside class="right-btn-wrapper" v-if="modifyInfo.key === 'g9'||modifyInfo.key === 'ec'|| modifyInfo.key === 'cpe'|| modifyInfo.key === 'g3'">
                  <ul class="multiple-item" style="font-size: 12px;">
                    <li v-for="(item, index) in (modifyInfo.key === 'cpe' ? productData[modifyInfo.key] : productData[modifyInfo.key][modifyInfo.areasSelected])"
                        :state="item.isToggle ? 'true' : 'false'">
                        <div>
                            <em @click.stop="toggleItem(item)" 
                                :state="item.isToggle ? 'true' : 'false'"></em>
                            <p style="transform: translateY(-2px)"
                              @click="selectAllSubItem(item)"
                              :class="[item.isSelected ? 'on': '']"
                              class="check-box"></p>
                            <span class="hori-dash-line"></span>
                            <span class="vert-dash-line top"
                                  v-show="index !== 0"></span>
                            <span class="vert-dash-line bottom"
                                  v-show="index &lt; (modifyInfo.key === 'cpe' ? productData[modifyInfo.key] : productData[modifyInfo.key][modifyInfo.areasSelected]).length-1 || item.isSelected"></span>
                            <a>{{item.name}}</a>
                        </div>
                        <ul class="subItem"
                            v-show="item.isToggle">
                            <li v-for="subItem in item.sub"
                                v-on:click.stop="toggleSubItem(subItem, item)">
                                <div>
                                    <p style="transform: translateY(-2px);margin-left: 7px"
                                      :class="[subItem.isSelected ? 'on': '']"
                                      class="check-box"></p>
                                    <span class="vert-dash-line"></span>
                                    <span class="hori-dash-line"></span>
                                    <a style="margin-left: 0px; float: none;">{{subItem.name}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                  </ul>
                </aside>
                <aside v-else-if=" modifyInfo.key === 'fy2' ||  modifyInfo.key === 'g1' ">
                    <ul class="cf" style="width: 300px">
                      <li v-for="el of productData[modifyInfo.key]"
                          v-on:click.stop="el.isSelected = !el.isSelected"
                          style="float:left;width:140px;">
                          <div>
                            <p style="transform: translateY(-2px);margin-left: 7px"
                              :class="[el.isSelected ? 'on': '']"
                              class="check-box"></p>
                              {{ el.name }}
                          </div>
                      </li>
                  </ul>
                </aside>
                <aside class="right-btn-wrapper" v-else-if=" modifyInfo.key === 'h8'">
                  <ul class="cf" style="width: 300px">
                      <li v-for="el of productData[modifyInfo.key]"
                          v-on:click.stop="el.isSelected = !el.isSelected"
                          style="float:left;width:145px;">
                          <div>
                            <p style="transform: translateY(-2px);margin-left: 7px"
                                :class="[el.isSelected ? 'on': '']"
                                class="check-box"></p>
                              {{ el.name }}
                          </div>
                      </li>
                  </ul>
                </aside>
            </li>
            <li :style="{height: modifyInfo.areas.length > 2 ? '60px' : '30px' }" v-if="'areas' in modifyInfo">
                <aside class="left-label-wrapper">范围</aside>
                <aside class="right-btn-wrapper">
                  <span class="ecwmf_check"
                        style="margin-right: 20px"
                        @click="toggleAreaSelected(el)"
                        v-for="el of modifyInfo.areas"
                        :class="{'on' : el === modifyInfo.areasSelected}">
                      <i></i>
                      <span>{{ scopeList[el] }}</span>
                  </span>
                </aside>
              </li>
              <li class="effectiveness" v-if="'forecasts' in modifyInfo">
                <aside class="left-label-wrapper">时效</aside>
                <aside class="right-btn-wrapper" style="width:180px;">
                    <select-toggle :optionData="modifyInfo.forecasts" :preSelectedOption="modifyInfo.startForecast"
                                    :selectionChange="startForecastChange" :width="80" style="float:left"></select-toggle>
                    <span class="icon">-</span>
                    <select-toggle :optionData="modifyInfo.forecasts" :preSelectedOption="modifyInfo.endForecast"
                                    :selectionChange="endForecastChanges"  :width="80"  style="float:left"></select-toggle>
                </aside>
              </li>
        </ul>
    </section>
  </div>
</main>