#WpradarPopup {
  .popup_title{
    .wprader_icon_hide{
      
    }
    .wprader_icon_close{
    }
  }
  .wprader_con{
    .wprader_con_left{
    }
    .wprader_con_right{
     .time_axis{
       width: 130px;
       height: 370px;
       margin-top: 20px;
       border: 1px solid #D6D8DE;
       background-color: #fff;
     }
    }
  }
}