#Grapes1km {
    position: absolute;
    background-color: #ffffff;
    height: 770px;
    white-space: nowrap;
    .hour_min{
        float: left;
        width: 16px;
        text-align: center;
    }
}
