<main id="ProductEntry">
  <components :is="articleView"></components>
  <components :is="localCloudView"></components> <!-- 本地云模式 -->
  <components :is="windRadarView"></components> <!-- 风廓线雷达 -->
  <components :is="shortForecastView"></components>  <!-- 短期预报 -->
  <components :is="cityShortForecastView"></components>  <!-- 市局短时预报 -->
  <components :is="micradiationView"></components>  <!-- 微波辐射计 -->
  <components :is="actualproductView"></components>  <!-- 实况产品 -->
  <components :is="ecwmfInterView"></components>  <!-- ECWMF细网格模式产品 -->
  <components :is="sunflowerView"></components>  <!-- 葵花8产品 -->
  <components :is="reservoirLevelView"></components>  <!-- 水库水位 -->
  <components :is="riverLevelView"></components>  <!-- 河流水位 -->
  <components :is="forestFireView"></components>  <!-- 深林火险 -->
  <components :is="dryConditionView"></components>  <!-- 深林火险 -->
  <components :is="grapes1kmView"></components>  <!-- grapes1km -->
  <components :is="grapes3kmView"></components>  <!-- grapes3km -->
   <components :is="weatherForecastView"></components> <!-- 气候预测 -->
  <components :is="agricultureAnalysisView"></components>  <!-- grapes1km -->
  <components :is="satelliteProductView"></components>  <!-- 卫星云反演产品 -->
  <components :is="grapesModeView"></components>  <!-- GRAPES中尺度模式产品 -->
  <components :is="personalManagementView"></components>  <!--人员管理-->
  <components :is="shortRadarView"></components>  <!--短临产品和雷达综合分析-->
  <components :is="satelliteCloudView"></components>  <!-- 卫星云图 -->
  <components :is="satelliteInverseCloudView"></components>  <!-- 卫星云繁衍 -->
  <components :is="midLongForecastView"></components>  <!-- 卫星云繁衍 -->
  <component :is="airplaneCommandView"></component> <!--飞机实时轨迹-->
  <component :is="typhView"></component> <!--台风-->
  <component :is="messageDispatchView"></component> <!--短信调度-->
  <component :is="airDetectView"></component> <!--探空云分析-->
  <component :is="jobManagementView"></component> <!--作业点管理-->
  <component :is="mountainFloodView"></component> <!--探空云分析-->
  <!--<component :is="abilityEstimateView"></component>  能力评估-->
  <component :is="environmentPublicView"></component>  <!--环境公报-->
  <component :is="environmentForecastView"></component>  <!--人体舒适度-->
  <component :is="humanComfortView"></component>  <!--能力评估-->
  <component :is="sunstrokeIndexView"></component>  <!--能力评估 中暑指数-->
  <component :is="disasterManageView"></component>  <!--灾情管理-->
  <component :is="disasterImgView"></component>  <!--灾情管理 图片信息-->
  <component :is="ammunitionInternetView"></component>  <!--弹药装备物联网-->
  <component :is="conditionAuditView"></component> <!--地面资格作业条件审核-->
  <component :is="fileManagementView"></component> <!--人影业务规范标准文件管理-->
  <component :is="airspaceMonitoringView"></component>  <!--空域监测-->
  <component :is="aircraftCommandView"></component>  <!--飞机作业跟踪指挥-->
  <component :is="groundControlView"></component> <!--地面作业跟踪指挥-->
  <component :is="phoneLiveMonitorView"></component> <!--手机直播监测-->
  <component :is="groundMsgCollectionView"></component> <!--地面信息采集-->
  <component :is="airQualityView"></component>  <!--空气质量3天预报-->  
  <component :is="orderDispatchView"></component>  <!--指令调度-->  
  <component :is="groundTargetView"></component>   <!--地面作业指标-->
  <component :is="historyReturnView"></component>  <!--历史回归-->
  <!-- <component :is="ecmwfRainView"></component>      降雨统计 -->
  <component :is="ecmwfRainView"></component>      <!--降雨统计-->
  <component :is="gridRainfallView"></component>   <!--七天网格预报雨量-->
  <component :is="abilityEstimateView"></component>
  <component :is="phoneLiveView"></component>
  <component :is="repoMonitorView"></component>
  <!--能力评估-->
  <component :is="operateDemandAnalysisPublishView"></component>
  <component :is="operateDemandAnalysisHistoryView"></component>

  <component :is="operateDemandSurveyPublishView"></component>
  <component :is="operateDemandSurveyHistoryView"></component>

  <component :is="operateAirPlanHistoryView"></component>
  <component :is="operateAirPlanPublishView"></component>

  <component :is="operateEffectEvaluatingHistoryView"></component>
  <component :is="operateEffectEvaluatingPublishView"></component>

  <component :is="operateGroundPlanHistoryView"></component>
  <component :is="operateGroundPlanPublishView"></component>

  <component :is="operatePlanHistoryView"></component>
  <component :is="operatePlanPublishView"></component>

  <component :is="operatePotentialHistoryView"></component>
  <component :is="operatePotentialPublishView"></component>

  <component :is="operateWarningAirReportHistoryView"></component>
  <component :is="operateWarningAirReportPublishView"></component>

  <component :is="operateWarningGroundReportPublishView"></component>
  <component :is="operateWarningGroundReportHistoryView"></component>
</main>