#EcwmfInter {
  position: absolute;
  top: 130px;
  left: 330px;
  background-color: #fff;
  z-index: 1000;
  .popup_con{
    overflow: auto;
  }
  .popup_con_rights{
    float: left;
    width: 280px;
    margin-left: 20px;
    ul li.pre_li {
      font-size: 14px;
      margin-bottom: 25px;
      &:nth-child(3){
        height: 60px;
        dt{
          height: 60px;
        }
      }
      dt{
        float: left;
        width: 70px;
        height: 30px;
        line-height: 30px;
        color: #575757;

        
      }
      dd{
        float: left;
        height: 30px;
        color: #1c1c1c;
        
        span{
          display: inline-block;
          font-size: 14px;
          color: #1c1c1c;
          &.ecwmf_check{
            margin-right: 20px;
            i{
               display: inline-block;
               margin-top: 5px;
               width: 20px;
               height: 20px;
               background: url(~Img/home_radio.png)no-repeat 0 0/ 200% 100%;
               color: #282828;
               margin-right: 10px;
               cursor: pointer;
               
            }
            span{
                  transform: translateY(-4px);
            }
            &.on{
              i{
                background: url(~Img/home_radio.png)no-repeat -20px 0/ 200% 100%;
               }
              span{
                color: #1c1c1c;
               font-weight: bold;
              }
            }
          }
          

        }
      .forecase_product,.time_effect{
        position: relative;
        width: 140px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color: #F0F1F4;
        cursor: pointer;
        span{
          font-size: 14px;
          color: #1c1c1c;
        }
        i{
          position: absolute;
          right: 20px;
          top: 12px;
          display: inline-block;
          width: 8px;
          height: 6px;
          background: url(~Img/home_dropdown.png)no-repeat 0 0/ 200% 100%;
          }
        &.on{
          span{font-weight: bold;}
          i{
            background: url(~Img/home_dropdown.png)no-repeat -8px 0/ 200% 100%;
          }
          
        }
      }
      .forecase_product{
        position: relative;
        width: 180px!important;
        span{
          display: inline-block;
        }
       i{
        position: absolute;
        display: inline-block;
        top: 11px;
        right: 8px;
        width: 8px;
        height: 6px;
        background: url(~Img/home_dropdown.png)no-repeat -8px 0/200% 100%;
        }
      }
      select.forecase_product,select.time_effect{
        width: 140px;
        height: 30px;
        line-height: 30px;
        outline: none;
        border: 0;
        background-color: #F0F1F4;
        padding-left: 30px
      }
      select.time_effect{
        padding-left: 55px
      }
      
      }
    &.country{
      margin-left: 40px;
      select{
        width: 85px;
        height: 30px;
        line-height: 30px;
        outline: none;
        border: 0;
        background-color: #F0F1F4;
        padding-left: 20px;
        &.select_one{
          margin-left:30px;
        }
        &.select_two{
          margin-left:10px;
        }
      }
    }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  ul.forecase_product_ul {
    position: absolute;
    z-index: 1020;
    display: block;
    height: 460px;
    width: 210px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #F0F1F4;
    font-size: 12px!important;
    >li.forecase_product_li {
        min-height: 16px;
        line-height: 16px;
        padding: 8px 0 0 0;
        cursor: pointer;
        position: relative;
        &[state=true] {
            padding-bottom: 0;
        }
        >div {
            padding-left: 15px;
            text-align: left;
            em {
                background-image: url(~Img/cloude_option_icon.png);
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                display: block;
                float: left;
                background-position: 0, 0;
                &[state=true] {
                    background-position: -16px;
                }
            }
            span {
                display: block;
                float: left;
            }
            span.hori-dash-line {
                height: 0;
                width: 13px;
                border-top: dashed 1px #4484de;
                transform: translateY(7px);
                margin-right: 0px;
            }
            span.vert-dash-line {
                height: 8px;
                width: 0;
                border-right: dashed 1px #649ae6;
                position: absolute;
                transform: translateX(37px);
                left: -15px;
                &.bottom {
                    top: 24px;
                }
                &.top {
                    top: 0;
                }
            }
        }
        >ul {
            // padding-top: 8px;
            >li.forecase_subItem_li{
                height: 30px;
                cursor: pointer;
                box-sizing: border-box;
                padding-left: 22px;
                width: 100%;
                font-size: 12px;
                &:hover,
                &[state=true] {
                    background-color: #4787e1;
                    a {
                        color: white;
                    }
                    em {
                        background-color: whtie !important;
                    }
                    span {
                        border-color: white !important;
                    }
                }
                div {
                    height: 100%;
                    span.vert-dash-line {
                        height: 30px;
                        width: 0;
                        border-right: dashed 1px #4787e1;
                        display: block;
                        float: left;
                    }
                    span.hori-dash-line {
                        margin-left: 0px;
                        width: 16px;
                        height: 0;
                        border-top: dashed 1px #4787e1;
                        transform: translateY(15px);
                        float: left;
                    }
                    em {
                        margin-left: 7px;
                        transform: translateY(11px);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #d2d4db;
                        line-height: 40px;
                        float: left;
                    }
                    a {
                        margin-left: 5px;
                        float: left;
                        line-height: 30px;
                        color: #989898
                    }
                }
            }
        }
    }
}
.forecase_product_ul::-webkit-scrollbar,.popup_con::-webkit-scrollbar { 
  width: 8px;
  height: 8px; 
}
.forecase_product_ul::-webkit-scrollbar-thumb,.popup_con::-webkit-scrollbar{
  background: #e2e3e6;
  border-radius: 5px;
}

}
.right-btn-wrapper {
  span {
      display: inline-block;
      font-size: 14px;
      color: #1c1c1c;
      &.ecwmf_check {
          i {
              display: inline-block;
              margin-top: 5px;
              width: 20px;
              height: 20px;
              background: url(~Img/home_radio.png)no-repeat 0 0/ 200% 100%;
              color: #282828;
              margin-right: 10px;
              cursor: pointer;
          }
          span {
              transform: translateY(-4px);
          }
          &.on {
              i {
                  background: url(~Img/home_radio.png)no-repeat -20px 0/ 200% 100%;
              }
              span {
                  color: #1c1c1c;
                  font-weight: bold;
              }
          }
      }
  }
}